---
import { TITLE } from "astro:env/client";
import { SEO } from "astro-seo";
import BaseLayout from "layouts/BaseLayout.astro";
import getKilobitCollectionLanguages from "utils/getKilobitCollectionLanguages";
import getRecentKilobitsByLanguages from "utils/getRecentKilobitsByLanguages";
import { slugify } from "utils/slugify";

const kilobitLanguages = await getKilobitCollectionLanguages();
const recentKilobitsByLang = await Promise.all(
  kilobitLanguages.map(async (lang) => ({
    language: lang,
    kilobits: await getRecentKilobitsByLanguages(lang),
  }))
);
console.log({ recentKilobitsByLang });
---

<SEO
  title={`Kilobits &ndash; ${TITLE}`}
  description="Fresh, byte-sized coding tips and tricks delivered weekly — HTML, CSS, JS, and more!"
/>
<BaseLayout>
  <h1>Kilobits</h1>
  <p>
    Fresh, byte-sized coding tips and tricks hit the page weekly — HTML, CSS,
    JS, and beyond!
  </p>
  {
    recentKilobitsByLang.map(({ language, kilobits }) => (
      <h2>
        &lbrack;
        <a href={`/kilobits/languages/${slugify(language)}`}>{language}</a>
        &rbrack;
      </h2>
      <ul>
        {kilobits.map(recentKilobit => (
          <li><a href={`/kilobits/languages/${recentKilobit.slug}`}>{recentKilobit.data.title}</a></li>
        ))}
      </ul>
    ))
  }
</BaseLayout>
