---
import { SITE_TITLE } from "astro:env/client";
import { getCollection } from "astro:content";
import { SEO } from "astro-seo";
import AritlcePreiew from "components/ArticlePreview.astro";
import topicsData from "data/topics.json";
import Layout from "layouts/Layout.astro";

const articles = await getCollection("articles");
const recentArticles = articles.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
);
const topics = Object.values(topicsData);
---

<SEO
  title={`${SITE_TITLE} &ndash; Articles`}
  description="A collection of articles I have written on everything from Front-End Development to COBOL."
/>
<Layout>
  <h1>Articles</h1>
  <p>
    This is where I write. Subscribe to my <a
      href="https://substack.com/@stevecodes"
      target="_blank">newsletter</a
    > to get future posts straight to your inbox.
  </p>
  <p class="topics">
    Topics:{topics.map(topic => (<a href={`/topics/${topic.slug}`}} class="topics__link" aria-label={`View All ${topic.title} Topics`}>{topic.title}</a>))}
  </p>
  <div class="articles">
    {recentArticles.map((article) => <AritlcePreiew article={article} />)}
  </div>
</Layout>
<style>
  .articles {
    margin-block: 1rem;
  }

  .topics {
    a {
      padding-inline: .625rem;
    }
  }
</style>
