---
import { TITLE } from "astro:env/client";
import { SEO } from "astro-seo";
import { getCollection, getEntry } from "astro:content";
import BaseLayout from "layouts/BaseLayout.astro";

export const getStaticPaths = async () => {
  const kilobits = await getCollection("kilobits");
  return kilobits.map((kb) => {
    console.log({ kb });
    const [language, slug] = kb.slug.split("/");
    console.log("Slug:", kb.slug, "->", { language, slug });
    return {
      params: {
        language,
        slug,
      },
    };
  });
};

const { language, slug } = Astro.params;
const kilobitArticle = await getEntry("kilobits", `${language}/${slug}`);

if (!kilobitArticle) {
  throw new Error(`Kilobit Article not found: ${language}/${slug}.`);
}

const { Content } = await kilobitArticle.render();
---

<SEO title={`${kilobitArticle.data.title} &ndash; ${TITLE}`} />
<BaseLayout>
  <p>
    &lbrack;<a href="/kilobits">View All Kilobits</a>&rbrack;
  </p>
  <Content />
</BaseLayout>
